<footer>
	<div class="section">
		<div class="container">
			<div class="grid">
				<div class="row">
					<div class="col-3">
						<a href="{{ siteUrl }}">
							<img class="cb-image" src="{{ siteUrl }}img/logo-wit.png">
						</a>
					</div>
					<div class="col-3">
						<h5>Contacteer ons</h5>
						<ul>
							{% if contactInfo.email|length %}
								<li><a href="mailto:{{ contactInfo.email }}">{{ contactInfo.email }}</a></li>
							{% endif %}
							{% if contactInfo.facebook|length %}
								<li><a target="_blank" href="{{ contactInfo.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
							{% endif %}
							{% if contactInfo.instagram|length %}
								<li><a target="_blank" href="{{ contactInfo.instagram }}"><i class="fab fa-instagram"></i></a></li>
							{% endif %}
							{% if contactInfo.twitter|length %}
								<li><a target="_blank" href="{{ contactInfo.twitter }}"><i class="fab fa-twitter"></i></a></li>
							{% endif %}
							{% if contactInfo.linkedin|length %}
								<li><a target="_blank" href="{{ contactInfo.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
							{% endif %}
						</ul>
					</div>
					<div class="col-3">
						<h5>Navigatie</h5>
						{% if craft.amNav.getNavRaw("mainNavigation") is defined %}
							<nav>
								<ul>
									{% set nav = craft.amNav.getNavRaw("mainNavigation") %}
									{% for node in nav %}
										<li><a href="{{ node.url }}" class="{{ node.listClass }}" {% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a></li>
									{% endfor %}
								</ul>
							</nav>
						{% endif %}
					</div>
					<div class="col-3">
						<h5>Handige links</h5>
						{% if handigeLinks.handigelinks|length %}
							<ul>
								<li><a href="{{ craft.entries.section('partnersOverview').first().getUrl() }}">{{ "Partners"|t }}</a></li>
								{% for item in handigeLinks.handigelinks %}
									<li>{{ item.links.htmlLink }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<a href="https://www.designosource.be/" target="_blank" class="copyright">2018 GRAM vzw - made by Designosource</a>
				</div>
			</div>
		</div>
	</div>
</footer>
