<div class="header">
	<div class="section section--default">
		<div class="container">
			<div class="grid">
				<div class="row">
					<div class="col-4">
						<a href="{{ siteUrl }}">
							<img src="{{ siteUrl }}{{ branding.image.first().getUrl('brandingLogo') }}">
						</a>
					</div>
					<div class="col-8">
						<nav>
							{{ craft.amNav.getNav("mainNavigation") }}
							<ul>
								<li></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section section--default">
		<div class="hero{% if entry.getSection().handle == 'home' %} hero-max{% else %} hero-min{% endif %}"
		style="background-image: url('{{ siteUrl }}img/work-image-min-min.jpg')">
			{% if entry.getSection().handle != 'home' and entry.title|length %}
				<h1>{{ entry.title }}</h1>
			{% endif %}
		</div>
	</div>
</div>