{% extends "_layout" %}

{% block content %}

{% if craft.request.param('year')|length %}
	{% set yearParam = craft.request.param('year') %}
{% else %}
	{% set block = entry.historieBuilder|last %}
	{% set yearParam = block.date|date('Y') %}
{% endif %}

{% set years = [] %}
{% for year in entry.historieBuilder %}
   	{% if year.date|date("Y") not in years %}
    	{% set years = years|merge([year.date|date("Y")]) %}
   	{% endif %}
{% endfor %}


	<div class="section">
		<div class="container">
			<div class="grid">
				<div class="row row-offset">
					<ul class="timeline">
						{% for year in years %}
							<li>
								<a href="{{ craft.entries.section('history').first().url }}?year={{ year }}" class="{% if year == yearParam %} active {% endif %}">
									{{ year }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<h2>{{ yearParam }}</h2>
			{% for item in entry.historieBuilder.order('date ASC') %}
				{% if item.date|date("Y") == yearParam %}
					<div>
						<h3>{{ item.date|date("F")|capitalize }}</h3>
						<h4>{{ item.blockTitle|capitalize }}</h4>
						<div>
							{{ item.text }}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

{% endblock %}
