{% extends "_layout" %}

{% block content %}

{% if craft.request.param('year')|length %}
	{% set yearParam = craft.request.param('year') %}
{% else %}	
	{% set block = entry.historieBuilder|last %}
	{% set yearParam = block.date|date('m-Y') %}
{% endif %}


	<div class="section">
		<div class="container">
				{% for year in entry.historieBuilder %}
					<ul>
						<li>
							<a href="{{ craft.entries.section('history').first().url }}?year={{ year.date|date("m-Y") }}">
								{{ year.date|date("F Y") }}
							</a>
						</li>
					</ul>
				{% endfor %}

				{% for item in entry.historieBuilder %}
					{% if item.date|date("m-Y") == yearParam %}
						<div>
							<h2>{{ item.date|date("F Y") }}</h2>
							<div>
								{{ item.text }}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			
		</div>
	</div>
	
{% endblock %}