{% extends "_layout" %}

{% block content %}

{% if craft.request.param('year')|length %}
	{% set yearParam = craft.request.param('year') %}
{% else %}
	{% set yearParam = "now"|date("Y") %}
{% endif %}

{% set years = [] %}
{% for year in craft.entries.section('mediaImage') %}
	{% if year.date|date("Y") not in years %}
		{% set years = years|merge([year.date|date("Y")]) %}
	{% endif %}
{% endfor %}

	<div class="section section--default">
		<div class="container">
			<div class="grid">
                <div class="row row-offset">
                    <ul class="timeline">
                        {% for year in years %}
                            <li>
                                <a href="{{craft.request.getUrl() }}?year={{ year }}" class="{% if year == yearParam %} active {% endif %}">
                                    {{ year }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
				<div class="row">
          {% paginate craft.entries.section('mediaImage').limit(12) as pageInfo, pageEntries %}
				{% for media in pageEntries %}
					{% for block in media.media %}
						<div class="col-sm-3 news--div">
						{% if block.type == 'image' %}
							<a data-fancybox="gallery" href="{{ siteUrl }}{{ block.image.first().getUrl() }}">
								<div class="image-wrapper">
									<img class="image cb-image" src="{{ siteUrl }}{{ block.image.first().getUrl('mediaItem') }}" alt="{{ media.title }}">
									<div class="overlay"></div>
								</div>
							</a>
						{% elseif block.type == 'video' %}
							{{ craft.embedder.embed (block.video, {max_width:250, max_height:200, class: 'full-video'}) }}
						{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>

		{% include '_snippet/_item/_pagination' %}

	</div>
</div>

{% endblock %}
