{% extends "_layout" %}

{% block content %}

	<div id="scroll"></div>

	<div class="section section--default">
		<div class="container">
			<div class="grid">
				<h2>{{ "Wat is gram"|t }}</h2>
				<div class="row">
					<div class="col-lg-6">{{ entry.text }}</div>
					<div class="col-lg-6">
						{% if entry.image|length %}
							<img class="cb-image" src="{{ siteUrl }}{{ entry.image.first().getUrl() }}">
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="grid">
				<h2>{{ "Nieuws"|t }}</h2>
				<div class="row">
					{% set press = craft.entries.section('press') %}
					{% for item in press.limit(3) %}
						<div class="col-lg-4 news--div">
							{% include '_snippet/_item/_news' %}
						</div>
					{% endfor %}
					{% if press.count() > 3 %}
					<a class="btn btn--primary btn--center" href="{{ craft.entries.section('pressOverview').first().getUrl() }}">
						{{ "Meer nieuws"|t }}
					</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="section section--default">
		<div class="container">
			<div class="grid">
				<h2>{{ "In de media"|t }}</h2>
				<div class="row">
					{% set mediaImages = craft.entries.section('mediaImage') %}
					{% for media in mediaImages.limit(3) %}
						<div class="col-sm-4">
							{% for block in media.media %}
								{% if block.type == 'image' %}
									<a data-fancybox="gallery" href="{{ siteUrl }}{{ block.image.first().getUrl() }}">
										<div class="image-wrapper">
											<img class="image cb-image" src="{{ siteUrl }}{{ block.image.first().getUrl('mediaItem') }}" alt="{{ media.title }}">
											<div class="overlay"></div>
										</div>
									</a>
								{% elseif block.type == 'video' %}
									{{ craft.embedder.embed (block.video, {max_width:250, max_height:200, class: 'full-video'}) }}
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
					{% if mediaImages.count() > 3 %}
					<a class="btn btn--primary btn--center" href="{{ craft.entries.section('mediaOverview').first().getUrl() }}">
						{{ "Meer foto's"|t }}
					</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}


















