<!DOCTYPE html>
<html>
<head>
	{% if entry is defined %}
		<title>{{ entry.title }} | GRAM VZW</title>
	{% else %}
		<title>GRAM VZW</title>
	{% endif %}

	<!-- META -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Gram vzw">
	<meta name="keywords" content="GRAM, vzw, BSO, TSO, arbeid">

	<!-- variable META TAGS -->
	{% if entry is defined %}
		{% if entry.handle == 'press' %}
			<meta name="description" content="{{ entry.overviewDescription }}">
			<meta property="og:title" content="{{ entry.title }}">
			<meta property="og:description" content="{{ entry.overviewDescription|length ? entry.overviewDescription : 'GRAM staat voor Gilde voor Revaluatie Arbeid en Motivatie. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.' }}">
			<meta property="og:image" content="{{ siteUrl }}{{ entry.overviewImage|length ? entry.overviewImage.first() : fallback.image.first() }}">
			<meta property="og:url" content="{{ entry.url }}">
			<meta name="twitter:title" content="{{ entry.title }}">
			<meta name="twitter:description" content="{{ entry.overviewDescription|length ? entry.overviewDescription : 'GRAM staat voor Gilde voor Revaluatie Arbeid en Motivatie. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.' }}">
			<meta name="twitter:image" content="{{ siteUrl }}{{ entry.overviewImage|length ? entry.overviewImage.first() : fallback.image.first() }}">
		{% else %}
			<meta name="description" content="GRAM staat voor 'Gilde voor Revaluatie Arbeid en Motivatie'. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.">
			<meta property="og:title" content="GRAM VZW">
			<meta property="og:description" content="GRAM staat voor 'Gilde voor Revaluatie Arbeid en Motivatie'. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.">
			<meta property="og:image" content="{{ siteUrl }}{{ fallback.image.first() }}">
			<meta property="og:url" content="http://www.gramvzw.be/">
			<meta name="twitter:title" content="GRAM VZW">
			<meta name="twitter:description" content="GRAM staat voor Gilde voor Revaluatie Arbeid en Motivatie. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.">
			<meta name="twitter:image" content="http://www.gramvzw.be/">
		{% endif %}
	{% else %}
		<meta name="description" content="GRAM staat voor 'Gilde voor Revaluatie Arbeid en Motivatie'. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.">
		<meta property="og:title" content="GRAM VZW">
		<meta property="og:description" content="GRAM staat voor 'Gilde voor Revaluatie Arbeid en Motivatie'. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.">
		<meta property="og:image" content="{{ siteUrl }}{{ fallback.image.first() }}">
		<meta property="og:url" content="http://www.gramvzw.be/">
		<meta name="twitter:title" content="GRAM VZW">
		<meta name="twitter:description" content="GRAM staat voor Gilde voor Revaluatie Arbeid en Motivatie. Dit is een actiegroep van ondernemers die maandelijks bijeenkomen om van gedachten te wisselen en acties uit te werken met betrekking tot de ingenomen standpunten.">
		<meta name="twitter:image" content="http://www.gramvzw.be/">
	{% endif %}


	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Lato:900|Roboto:400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ siteUrl }}css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="{{ siteUrl }}css/main.min.css">
</head>
<body>

	{% include '_snippet/_global/_header' %}

	<div class="main">
		{% block content %} {% endblock %}
	</div>

	{% include '_snippet/_global/_footer' %}


	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- FONTAWESOME -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<!-- FANCYBOX -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
	<!-- CUSTOM JS -->
	<script type="text/javascript" src="{{ siteUrl }}js/main.min.js"></script>
	<script>
		function openNav() {
		    var x = $('.header nav');
			x.toggleClass('open');
		}
	</script>
	<script type="text/javascript">
	$( document ).ready(function() {
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	});
	</script>

	<script type="text/javascript">
	$(document).ready(function(){
	  // Add smooth scrolling to all links
	  $(".scroll a").on('click', function(event) {

	    // Make sure this.hash has a value before overriding default behavior
	    if (this.hash !== "") {
	      // Prevent default anchor click behavior
	      event.preventDefault();

	      // Store hash
	      var hash = this.hash;

	      // Using jQuery's animate() method to add smooth page scroll
	      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
	      $('html, body').animate({
	        scrollTop: $(hash).offset().top
	      }, 800, function(){
	   
	        // Add hash (#) to URL when done scrolling (default click behavior)
	        window.location.hash = hash;
	      });
	    } // End if
	  });
	});
	</script>


</body>
</html>
